* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-bottom: 1em;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: black;
  text-decoration: underline;
}

header,
section,
nav {
  padding: 1em;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

input,
select,
p,
button {
  font-family: "Nunito", sans-serif;
}

p {
  color: black;
}

.qr {
  margin: 0.5em 0;
  display: inline;
  position: absolute;
  left: 500px;
  top: 200px;
}

.ticket {
  width: 700px;
  height: 340px;
  margin: 1em;
  clip-path: polygon(
    0% 39%,
    8% 39%,
    12% 49%,
    8% 59%,
    0% 59%,
    0% 100%,
    100% 100%,
    100% 1%,
    0% 1%
  );
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='700' height='340' preserveAspectRatio='none' viewBox='0 0 700 340'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='700' height='340' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M723.3333333333334 340L0 340 L0 224.94Q15.17 205.11%2c 35 220.28Q39.94 166.89%2c 93.33333333333333 171.83Q127.66 147.82%2c 151.66666666666666 182.15Q186.85 182.33%2c 186.66666666666666 217.51Q210.14 205.98%2c 221.66666666666666 229.45Q228.59 178.04%2c 280 184.97Q302.72 149.35%2c 338.3333333333333 172.07Q368.38 167.12%2c 373.3333333333333 197.16Q415.31 180.81%2c 431.66666666666663 222.79Q443.15 199.27%2c 466.66666666666663 210.75Q489.44 175.19%2c 525 197.96Q536.86 174.81%2c 560 186.67Q570.12 161.79%2c 595 171.91Q637.35 155.93%2c 653.3333333333334 198.28Q681.48 191.43%2c 688.3333333333334 219.57Q700.27 196.5%2c 723.3333333333334 208.44z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M758.3333333333333 340L0 340 L0 262.72Q12.09 239.81%2c 35 251.91Q58.88 217.45%2c 93.33333333333333 241.33Q105.34 218.34%2c 128.33333333333331 230.34Q140.79 207.8%2c 163.33333333333331 220.26Q206.09 204.69%2c 221.66666666666663 247.45Q231.66 222.44%2c 256.66666666666663 232.43Q279.39 196.82%2c 314.99999999999994 219.55Q344.56 214.12%2c 349.99999999999994 243.68Q384.23 219.58%2c 408.33333333333326 253.81Q418.67 205.81%2c 466.6666666666666 216.15Q511.07 225.55%2c 501.6666666666666 269.95Q500.03 233.31%2c 536.6666666666665 231.67Q547.27 207.27%2c 571.6666666666665 217.87Q587.76 198.97%2c 606.6666666666665 215.06Q637.55 210.94%2c 641.6666666666665 241.83Q682.36 224.19%2c 699.9999999999999 264.88Q708.14 214.69%2c 758.3333333333333 222.83z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M758.3333333333334 340L0 340 L0 286.54Q20.05 248.26%2c 58.33333333333333 268.31Q69.46 244.44%2c 93.33333333333333 255.57Q134.03 237.93%2c 151.66666666666666 278.62Q183.13 275.08%2c 186.66666666666666 306.54Q198.65 283.52%2c 221.66666666666666 295.51Q232.27 247.78%2c 280 258.38Q315.62 235.67%2c 338.3333333333333 271.29Q376.31 250.93%2c 396.66666666666663 288.9Q410.23 244.13%2c 454.99999999999994 257.7Q476.51 244.21%2c 489.99999999999994 265.72Q534.72 252.11%2c 548.3333333333333 296.83Q570.68 260.84%2c 606.6666666666666 283.19Q648.29 266.48%2c 665 308.11Q675.36 283.47%2c 700 293.82Q719.14 254.62%2c 758.3333333333334 273.76z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M723.3333333333333 340L0 340 L0 324.86Q20.66 310.52%2c 35 331.18Q58.14 319.32%2c 70 342.46Q85.97 300.09%2c 128.33333333333331 316.06Q151.57 280.97%2c 186.66666666666663 304.21Q228.3 287.51%2c 244.99999999999994 329.14Q266.74 292.54%2c 303.33333333333326 314.28Q315.77 291.71%2c 338.33333333333326 304.15Q379.95 287.43%2c 396.6666666666666 329.05Q433.5 307.55%2c 454.9999999999999 344.38Q470.84 301.88%2c 513.3333333333333 317.72Q521.48 290.87%2c 548.3333333333333 299.01Q594.38 310.06%2c 583.3333333333333 356.1Q582.43 320.2%2c 618.3333333333333 319.3Q630.37 296.34%2c 653.3333333333333 308.37Q681.41 301.44%2c 688.3333333333333 329.52Q713.24 319.42%2c 723.3333333333333 344.33z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='700' height='340' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.ticket p {
  color: rgb(223, 223, 223);
}

.ticket h3,
h4 {
  color: rgba(255, 255, 255, 0.808);
}

.text {
  margin-left: 80px;
  max-width: 360px;
}

.text h3 {
  font-size: 30px;
}

.text h4 {
  font-size: 20px;
}

.text p {
  margin-top: 15px;
}

form p {
  margin-bottom: 1em;
}
